In [61]:
from bs4 import BeautifulSoup
import pandas as pd

In [105]:
files = {
    './193722ad5ac72833_c_28d755665b1acbdc.htm': 'colonnes',
    './26a4311a5ac7ebb2_c_28d75e255b1a3ac6.htm': 'tables',
    './26b0b12d5ad07d00_c_28d754e35b1a6fdc.htm': 'bases',
    './755c7dc65ae16106_c_28d7554b5b1a3192.htm': 'cles',
    './a4b7af9d5af204b7_c_28d754e45b1a71ce.htm': 'id_cles',
    './a4b7b3555af20850_c_28d755225b1ae133.htm': 'cle_migrantes',
    './a4b7b4da5af20922_c_28d75e165b1a047d.htm': 'cle_colonne'
}

In [112]:
for filename, name in files.items():
    print(f"Extracting {name} ... ", end="")
    with open(filename, encoding="latin-1") as f:
        html =  f.readlines()
    
    soup = BeautifulSoup(str(html), 'lxml')
    table = soup.find("table")
    
    headings = [th.get_text() for th in table.find("tr").find_all("th")]
    
    datasets = []
    for row in table.find_all("tr")[1:]:
        dataset = dict(zip(headings, (td.get_text() for td in row.find_all("td"))))
        datasets.append(dataset)
    
    data = pd.DataFrame.from_records(datasets)
    
    with open(f'./{name}.json', 'w') as f:
        data.to_json(f, orient='records')
    print(f" done. (written to {name}.json)")

Extracting colonnes ...  done. (written to colonnes.json)
Extracting tables ...  done. (written to tables.json)
Extracting bases ...  done. (written to bases.json)
Extracting cles ...  done. (written to cles.json)
Extracting id_cles ...  done. (written to id_cles.json)
Extracting cle_migrantes ...  done. (written to cle_migrantes.json)
Extracting cle_colonne ...  done. (written to cle_colonne.json)

In [97]:
datasets = []
for row in table.find_all("tr")[1:]:
    dataset = dict(zip(headings, (td.get_text() for td in row.find_all("td"))))
    datasets.append(dataset)

In [99]:
data.head()

      BD ID               Table ID
0    sysca                academie
1    sysca           age_reference
2    sysca    annulation_scolarite
3    sysca                a_option
4    sysca            a_pour_zones

In [60]:
!ls

193722ad5ac72833_c_28d755665b1acbdc.htm a4b7af9d5af204b7_c_28d754e45b1a71ce.htm
26a4311a5ac7ebb2_c_28d75e255b1a3ac6.htm a4b7b3555af20850_c_28d755225b1ae133.htm
26b0b12d5ad07d00_c_28d754e35b1a6fdc.htm a4b7b4da5af20922_c_28d75e165b1a047d.htm
755c7dc65ae16106_c_28d7554b5b1a3192.htm colonnes
Untitled.ipynb                          colonnes.json